:root {
    --amarelo: #FEC63E;
    --preto: #000;
    --branco: #fff;
}

img {
    display: block;
}


.menu_items .active {
    color: var(--branco);
}

.introduction_interna {
    background: url(../img/bg-header-sobre.jpg) no-repeat center;
    background-size: cover;
}

.history {
    height: 300px;
    margin-top: 60px;
}

.history .subtitle:after {
    margin: 10px 0 15px 0;
}

.history p {
    font: 18px Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
    margin-bottom: 1em;
}

.values {
    height: 300px;
    margin-top: 20px;
}

.values .subtitle {
    text-align: right;
}

.values .subtitle::after {
    margin: 10px 0 15px auto;
}

.values ul {
    font: 18px Georgia, 'Times New Roman', Times, serif ;
    line-height: 25px;
}

.values ul {
    text-align: right;
}

.values li::before {
    content: url(../img/right-arrow.svg);
    vertical-align: middle;
}

.quality img:nth-child(2) {
    margin-top: -38px;
}