:root {
    --amarelo: #FEC63E;
    --preto: #000;
    --branco: #fff;
}

* {
    margin: 0;
    padding: 0;
    border:0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

header {
    height: 80px;
    background-color: var(--amarelo);
}

.logo-bikcraft {
    padding-top: 9px;
}

.menu-items {
    padding: 32px 0 0 249px;
}

.menu-items li {
    display: inline-block;
    margin-left: 30px;
}

.menu-items a{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: var(--preto);
    text-transform: uppercase;
    letter-spacing: .1em;
}

.menu-items a:hover {
    color: var(--branco);
    transition-duration: 0.3s;
}

.introducao {
    width: 100%;
    height: 380px;
    background-image: url(/img/bg-header-home.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.introducao {
    text-align: center;
}

.introducao h1 {
    font: bold 48px Arial, Helvetica, sans-serif;
    line-height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--branco);
    margin: 76px 0 0 0;
}

.introducao blockquote {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.introducao p{
    font: italic 14px Georgiaç, 'Times New Roman', Times, serif;
    line-height: 20px;
    color: var(--branco);
}

.introducao p:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--branco);
    margin: 15px auto 15px auto;
}

.introducao p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--branco);
    margin: 15px auto 15px auto;
}

.introducao cite {
    font: bold normal 14px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: var(--branco);
    text-transform: uppercase;
}

.button {
    border: 3px solid var(--amarelo);
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    color: var(--amarelo);
}